#home {
	position: absolute;
	right: 80%;
	top: 8px;
}

#about {
	position: absolute;
	right: 65%;
	top: 8px;
}

#websites {
	position: absolute;
	right: 50%;
	top: 8px;
}

#projects {
	position: absolute;
	right: 35%;
	top: 8px;
}

#linked {
	position: absolute;
	right: 20%;
	top: 8px;
}

#contact {
	position: absolute;
	right: 5%;
	top: 8px;
}

head {
	background: #adcde3;
}

button {
	background-color: #adcde3; 
	border-width: 0; 
	color: black; 
	height: 40px;
	width: 100px;
}

button:hover {
	background-color: #d3d3d3; 
	border-width: 0; 
	color: black; 
	height: 40px;
	width: 100px;
}

body {
	background-image: linear-gradient(#adcde3, #f6cdff);
}

h2 {
  margin-left:  40px;
  margin-top:  65px;
  font-size: 45px;
}

p {
  margin-left: 55px;
  margin-top: 75px;
  font-size: 18px;
}

img {
	margin-top:  65px;
	width: 292px;
	height: auto;
}

.parent{
	display:flex;
	gap: 10px;
}

footer {
	font-size: 12px;
}
